		<footer id="footer-page">
			<div class="container">
				<div id="colophon">
					<div id="colophon-a">
						<p>You can fork one of my <a href="https://github.com/DarrenN">repos</a> on GitHub. I'm a <a href="http://darrennewton.com/2015/01/04/deterministic-pixels/">parenthesis enthusiast</a> and founder/organizer of <a href="http://paperswelove.org/">Papers We Love</a>. You can read more on my <a href="http://darrennewton.com/">blog</a>. Follow me on <a href="https://twitter.com/#!/d_run">Twitter</a>.</p>
					</div>
					<div id="colophon-b">
						&copy; <%= Date.today.year %> <span itemprop="author">Darren Newton</span>, all rights reserved.
					</div>
				</div>
				<div id="badges">
					<div id="badges-a">
						<% if current_page.data.layout != 'generic' %>
						<ul>

						</ul>
						<% end %>
					</div>
					<div id="badges-b">
						<ul></ul>
					</div>
				</div>
			</div>
		</footer>
