		<footer id="footer-page">
			<div class="container">
				<div id="colophon">
					<div id="colophon-a">
						<p>You can fork one of my <a href="https://github.com/DarrenN">repos</a> on GitHub. I write about <a href="https://pinboard.in/u:darren_n/t:programming">programming</a> and <a href="http://darrenknewton.com/2011/10/30/mirror-site-and-convert-to-pdf/">technology</a> on my <a href="http://darrenknewton.com/">blog</a>. Follow me on <a href="https://twitter.com/#!/d_run">Twitter</a> or on <a href="https://plus.google.com/106799502423019983125?rel=author" rel="author">Google</a>.</p>
					</div>
					<div id="colophon-b">
						&copy; <%= Date.today.year %> <span itemprop="author">Darren Newton</span>, all rights reserved.
					</div>
				</div>
				<div id="badges">
					<div id="badges-a">
						<% if current_page.data.layout != 'generic' %>
						<ul>
	
						</ul>
						<% end %>
					</div>
					<div id="badges-b">
						<ul></ul>
					</div>
				</div>
			</div>
		</footer>